body{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
table{
    border-color:black;
    border-radius: 30px;
    border-style: double;
}
.btn{
    background-color: rgb(74, 210, 59);
    text-align: center;
    padding: 20px 18px;
    border-radius: 10px;
    border: 2px solid black;
    width: 100%;
}
#display{
    display: inline-block;
    width: 100%;
    border-radius: 10px;
    border: 2px solid black;
    padding: 20px 2px;;
    color:black;
    font-size: large;
    
}
td{
    border: 0px;
    
}

