body{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
table{
    border-color:black;
   
}
.btn{
    background-color: rgb(14, 14, 14);
    color: white;
    text-align: center;
    padding-bottom: 16px;
    padding-top: 17px;
    padding-right: 24px;
    padding-left: 24px;
    border-radius: 5px;
    border: 2px solid black;
    width: 100%;
}

td{
    border: 0px;
    
}
#display{
    width:100%;
    height: 45px;
    border: 2px solid black;
    font-size: x-large;
    margin-bottom: 0px;
}

